{% extends 'header.html' %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

<div class="container">
    <div class="position-relative">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="text-muted font-13 m-b-30" style="text-align: center;"> 
                        <button type="button" data-bs-toggle="modal" data-bs-target="#NewField" class="btn btn-primary">
                            Nueva Estadística
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for mensaje in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="success-alert"> 
                    <strong>{{ mensaje }}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <style>
        .btn-primary:hover {
                background-color: #303a44; /* Un tono ligeramente más oscuro en hover */
                border-color: #303a44;
            }

            /* Fondo para los campos de entrada en el modal */
            .modal-body input.form-control {
                background-color: #ffffff; /* Verde aún más claro */
                border: 1px solid #b3a7a7;
            }

            .modal-body input.form-control:focus {
                background-color: #8b928d; /* Cambia el fondo en foco para una mejor experiencia */
                border-color: #8fb68d;
                outline: none;
                box-shadow: none;
            }

            /* Fondo de los encabezados en el modal */
            .modal-header, .modal-footer {
                background-color: #419dc2;
                color: #000;
            }
            select {
                background-color: #7abd77; /* Fondo verde claro */
                color: #333; /* Color del texto */
                border: 1px solid #28a745; /* Borde verde oscuro */
                padding: 5px;
                border-radius: 4px;
                font-size: 16px;
                width: 100%;
            }

            select:hover {
                background-color: #8b928d; /* Fondo ligeramente más oscuro en hover */
            }

            select:focus {
                outline: none;
                border-color: #1e7e34; /* Color del borde al hacer clic */
                box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Sombra verde en focus */
            }
    </style>

    <div class="stats-container">
        <h2>Estadísticas del Jugador</h2>
        {% for stat in pstats %}
        <div class="stat-card">
            <div class="stat-item">
                <label>Nombre:</label>
                <span>{{ stat.nombre }}</span>
            </div>
            <div class="stat-item">
                <label>Raza:</label>
                <span>{{ stat.raza }}</span>
            </div>
            <div class="stat-item">
                <label>Nivel:</label>
                <span>{{ stat.nivel }}</span>
            </div>
            <div class="stat-item">
                <label>Daño:</label>
                <span>{{ stat.daño }}</span>
            </div>
            <div class="stat-item">
                <label>Resistencia:</label>
                <span>{{ stat.resistencia }}</span>
            </div>
            <div class="stat-item green-plus">
                <button type="button" data-id="{{ stat.nombre }}" class="statInfo btn btn-success" 
                    title="Detalles">Detalles</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal para agregar nueva estadística -->
<div class="modal fade" id="NewField" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de nueva estadística</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

             <form id="insert_form" method="POST" action="/addstats">
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th><input type="text" name="Nombre" id="Nombre" class="form-control" required="true">
                            </th>
                        </tr>
                        <tr>
                            <th>Raza</th>
                                <th>
                                    <select name="Raza" id="Raza" class="form-control" required="true" onchange="mostrarSprite()">
                                        <option value="">Selecciona una raza</option>
                                        <option value="Jiren">Jiren</option>
                                        <option value="Sayan">Sayan</option>
                                        <option value="Namekusein">Namekusein</option>
                                    </select>
                                </th>
                        </tr>

                        <tr>
                            <th>Nivel</th>
                            <th><input type="text" name="Nivel" id="Nivel" class="form-control" required="true">
                            </th>
                        </tr>
                        <tr>
                            <th>Daño</th>
                            <th><input type="text" name="Daño" id="Daño" class="form-control" required="true">
                            </th>
                        </tr>
                        <tr>
                            <th>Resistencia</th>
                            <th><input type="text" name="Resistencia" id="Resistencia" class="form-control"
                                    required="true"></th>
                        </tr>

                        <tr>
                            <th colspan="2"><button type="submit" class="btn btn-primary">Registrar Estadística</button>
                            </th>
                        </tr>
                    </table>
                    <!-- Div para mostrar el sprite en el modal -->
                    <div id="spriteContainer" style="display:none; text-align:center; margin-top:15px;">
                        <img id="spriteImage" src="" alt="Sprite" style="width: 200px; height: 300px;">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    // Función para mostrar el sprite basado en la raza seleccionada
function mostrarSprite() {
    var raza = document.getElementById('Raza').value;
    var spriteImage = document.getElementById('spriteImage');
    var spriteContainer = document.getElementById('spriteContainer');

    if (raza) {
        var spriteUrl = '';
        switch (raza) {
            case 'Jiren':
                spriteUrl = '/static/sprites/jiren.png';
                break;
            case 'Sayan':
                spriteUrl = '/static/sprites/sayan.png';
                break;
            case 'Namekusein':
                spriteUrl = '/static/sprites/namekusein.png';
                break;
        }

        spriteImage.src = spriteUrl;
        spriteContainer.style.display = 'block';
    } else {
        spriteContainer.style.display = 'none';
    }
}

// Ejecutar la función cuando cambie la raza
document.getElementById('Raza').addEventListener('change', mostrarSprite);

// Ocultar el sprite cuando se cierra el modal
$('#NewField').on('hidden.bs.modal', function () {
    $("#spriteContainer").hide();  // Oculta el sprite al cerrar el modal
});
</script>

<!-- Modal para ver detalles -->
<div class="modal fade" id="viewField" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vista de una estadística</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-cuerpo">
                   <!-- El contenido de la estadística se agregará aquí -->
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<style>
    .stats-container {
        max-width: 400px; /* Aumenté el ancho máximo para que se vea mejor */
        margin: auto;
    }

    .stats-container h2 {
        text-align: center;
        background-color: #ff8989;
        color: #000;
        padding: 8px;
        border-radius: 4px;
    }

    .stat-card {
        background-color: #e3e3e3;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .stat-item {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
    }

    .stat-item label {
        font-weight: bold;
    }

    .stat-item span {
        font-size: 14px;
    }

    .stat-item:last-child {
        border-bottom: none;
    }

    .stat-item.green-plus {
        text-align: center;
        font-size: 20px;
        color: #28a745;
        cursor: pointer;
    }

    .stat-item.green-plus:hover {
        color: #218838;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#success-alert").fadeTo(3000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
        $('.statInfo').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/viewstats',
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    $('.modal-cuerpo').html(data);
                    $('.modal-cuerpo').append(data.htmlresponse); // Cargar solo el contenido en el modal
                    $('#viewField').modal('show');
                }
            });
        });
    }); 
</script>
{% endblock %}
